body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.2;
    background-color: #eee;
}
#header {
    height: 24px;
    background-color: #92a8d1;
    color: white;
    padding-top: 8px;
    padding-left: 10px;
    border-bottom: 1px solid #622;
}
#home-link {
    display: inline-block;
 }
#controls {
    margin: 10px 40px 0 40px;
    background-color: #eee;
}
#wrap {
    margin: 10px 40px 0 40px;
    font-size: 18px;
}

.rel_title {
    display: inline-block;
}

.rel_title a {
    color: #844;
}

.rel_result {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.rel_qa_result {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF0F5;
    border-radius: 5px;
}

.rel_content {
    color: #333;
    font-size: 14px;
}
.rel_score {
    display: inline-block;
    margin-right: 6px;
    font-weight: bold;
}
#qfield {
    width: 100%;
    box-sizing: border-box;

    height: 40px;
    font-size: 22px;

    border: solid 1px #999;
    color: "#333";

    padding-left: 50px;

    background-image: url('/static/search.png');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
  }
#search-result{
    margin: 10px 40px 0 40px;
    font-size: 18px;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
         By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
         between the labels and their text fields */
    margin-left: 0.5em;
}

label,
input {
    display: flex;
    flex-direction: column;
}

input,
label {
    display: block;
}

mark {
  background-color: yellow;
  color: black;
}