body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.2;
    background-color: #eee;
}
#header {
    height: 30px;
    background-color: #4682B4;
    color: white;
    padding-top: 8px;
    padding-left: 10px;
    border-bottom: 1px solid #622;
    font-size: 20px
}
#home-link {
    display: inline-block;
 }
#controls {
    margin: 10px 40px 0 40px;
    background-color: #eee;
}
#wrap {
    margin: 10px 40px 0 40px;
    font-size: 18px;
}

.rel_title {
    display: inline-block;
}

.rel_title a {
    color: #844;
}

.rel_result {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.rel_qa_result {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F0F8FF;
    border-radius: 5px;
}

.rel_lfqa_result {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #B0C4DE;
    border-radius: 5px;
}

.rel_content {
    color: #333;
    font-size: 14px;
}
.rel_score {
    display: inline-block;
    margin-right: 6px;
    font-weight: bold;
}
#qfield {
    width: 100%;
    box-sizing: border-box;

    height: 40px;
    font-size: 22px;

    border: solid 1px #999;
    color: "#333";

    padding-left: 50px;

    background-image: url('/static/search.png');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
  }
#sbox {
    width: 100%;
}
#cbox {
    margin-top: 5px;
    font-size: 14px;
}
#cbox input {
    margin-bottom: 5px;
}
#cbox_fast {
    font-size: 14px;
}
#cbox_fast a {
    display: inline-block;
    background-color: #eee;
    padding: 3px;
}
#search-result{
    margin: 10px 40px 0 40px;
    font-size: 18px;
}

mark {
  background-color: yellow;
  color: black;
}