
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png') }}" />
    <title>Search Demo</title>
    <script>
        var results = {{ results | tojson }}
        var qa_results = {{ qa_results | tojson }}
        var lfqa_result = {{ lfqa_result | tojson }}
        var vars = {{ vars | tojson }}
    </script>
</head>
<body>
<div id="header">
    ML Powered Search
</div>
<div id="controls">
    <div>
        <div id="cbox">
            <form action="/submit-search" method="get" id="search">
                <!-- the search box, allowing us to search by keywords -->
                <input name="query" type="text" id="qfield" value="{{ vars.search_query }}">

                <!-- Enabled / Disable Generative QA system -->
                <label for="gen_qa">Generate Answer: </label>
                <select name="gen_qa" id="gen_qa">
                    <option value="yes" {{ vars.gen_qa == 'yes' and 'selected' }}>yes</option>
                    <option value="no" {{ vars.gen_qa == 'no' and 'selected' }}>no</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% if qa_results %}
<div id="factoidqa">
</div>
{% endif %}

{% if lfqa_result %}
<div id="lfqa">
</div>
{% endif %}

{% if results %}
<div id="search-result">
</div>
{% endif %}

<!-- React -->
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<!-- Babel for displaying JSX -->
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<!-- Load our React component -->
<script src="{{ url_for('static', filename='results.js') }}" type="text/babel"></script>
</body>

</html>

